body{
    padding: 25px;
    background-color: #1f1f1f;
    color: black;
    font-size: 25px;
}
.white-mode{
    background-color: white;
}
.center{
    align-items: center;
    text-align: center;
}

.center-header{
    color: green;
    font-size: 50px;
    font-family: 'Pacifico';
    margin-top: 15%;
}
.center-header p2{
    text-shadow: green 0px 0px 15px;
}
.link-space{
    margin-top: 3%;
}
.col-md-4{
    cursor: pointer;
    background-color: green;
    border-radius: 20px;
    margin-top: 10px;
}
.col-md-4:hover{
    background-color: rgb(0, 170, 0);
    box-shadow: rgb(0, 170, 0) 0px 0px 3px 0px;
}
.text-portfolio-goofy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    color: white;
}
.about-me{
    margin-top: 21.9%;
}
.about-me-head{
    text-align: center;
    color: orange;
}
.about-me-head span{
    background-color: #181818;
}

.well-hey-content{
    margin-top: 8px;
    color: aliceblue;
}